@charset "utf-8";
.navi {
    background-color: #FFCE1F;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.purposemenu {
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li { float: left; }
#navi li a {
    display: block;
    color: #000000;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
#navi li a.current { 
    background-color: #FFD600;
    color: white'
}
#navi li a:hover:not(.current) {
    background-color: #D0DB36;
    color: white;
}
#purposemenu li a {
    color: #C4C4C4;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
#purposemenu li a.current {
    color: black;
    background-color: white;
}
#purposemenu li a:hover:not(.current) {
    color: black;
    background-color: white;
}